{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newPostFormModal">
        What's on your mind, {{ request.user.username }}?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newPostFormModal" tabindex="-1" aria-labelledby="newPostFormModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'index' %}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <textarea name="content" id="content" cols="45"
                            placeholder="What's on your mind, {{ user.username }}?"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-primary btn-block">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>
    <h3>All posts</h3>
    {% for post in page_obj %}
    <div class="card my-2">
        <div class="card-header">
            <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
            <p><small>{{ post.created_on }}</small></p>
        </div>
        <div class="card-body" data-parent-id="{{ post.id }}">
            <p class="card-text" id="content-{{ post.id }}">{{ post.content }}</p>
            {% if post.author.id == request.user.id %}
            <span class="edit" data-post-id="{{ post.id }}"><i class="fas fa-edit"></i></span>
            <span class="delete" data-delete-id="{{ post.id }}"><i class="fas fa-eraser"></i></span>
            {% endif %}
        </div>
         <!-- Edit div -->
         <div class="edit-div" data-edit-id="{{ post.id }}" style="display: none;">
            <textarea class="form-control" id="update-content-{{ post.id }}" name="update-content"></textarea>
            <div class="btn-group mt-1">
                <span class="btn btn-sm btn-success mx-1" data-save-edit-id="{{ post.id }}"> <i class="far fa-check-circle"></i></span>
                <span class="btn btn-sm btn-danger mx-1" data-close-edit-id="{{ post.id }}"> <i class="far fa-times-circle"></i> </span>
            </div>
        </div>
        <!-- End of edit div -->
        <div class="like mx-3">
            <span>{{ post.get_likes }}</span> <span>{{ post.get_users_liked }}</span>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination section -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- End of section -->
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock script %}